<ion-header>
 
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-poe.png">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>       
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/demos/api/list/avatar-leia.png">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>       
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-ben.png">
      </ion-avatar>
      <ion-label>
        <h2>Ray</h2>        
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-han.png">
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
