<ion-header>
  <ion-toolbar color="primary" hideBackButton="true">
  <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="goBack()" ></ion-icon>
  </ion-buttons>
<ion-title> People</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of tasks" lines="full">
     <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{item.fullname}}</ion-label>
      <ion-button color="primary">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
