ion-card-subtitle {

    font-size: 15px;
}

ion-card-content {

    font-size: 22px;
}

.title {
    font-size: 18px;
    text-transform: capitalize;

}

.maintitle {
    text-transform: uppercase;
}

.noposts {
    text-align: center;

}

ion-button {
    margin: 10px;
}

ion-label {

    text-align: center;
}

ion-chip {
    display: flex;
    margin: 10px;
    text-align: center;
}