<ion-header>
  <ion-toolbar color="primary" hideBackButton="true">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-title> Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img class="main-img"
      src="https://images.askmen.com/1080x540/2016/01/25-021526-facebook_profile_picture_affects_chances_of_getting_hired.jpg">
    <div align="center">
      <img class="sub-img"
        src="https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
    </div>
    <ion-card-header align="center">
      <ion-card-title class="maintitle">{{name}}</ion-card-title>
    </ion-card-header>

    <div class="align">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-buttons slot="primary">
                <ion-tab-button (click)="Followers()">
                  <ion-icon name="person-add"></ion-icon>
                  <ion-label>Followers</ion-label>
                  <ion-badge color="primary">{{followerlength}}</ion-badge>
                </ion-tab-button>
              </ion-buttons>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-buttons slot="primary">
                <ion-tab-button (click)="Following()">
                  <ion-icon name="people"></ion-icon>
                  <ion-label>Following</ion-label>
                  <ion-badge color="primary">{{followinglength}}</ion-badge>
                </ion-tab-button>
              </ion-buttons>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
  <div *ngIf="length !=0">
    <ion-card *ngFor="let item of posts">
      <ion-card-header>
        <ion-card-title class="title">{{name}}</ion-card-title>
        <ion-card-subtitle> on {{item.date1}} at {{item.timestamp}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{item.post}}
      </ion-card-content>
      <ion-button expand="block" color="primary" (click)="share()">
        <ion-icon name="share-alt"></ion-icon>share
      </ion-button>
    </ion-card>
  </div>
  <div *ngIf="length ==0">
    <ion-card>
      <ion-card-content class="noposts">
        <ion-card-subtitle>
          no posts yet
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>