ion-content {
    --ion-background-color: #3b5998;
}
.top {
    margin-top: 0em;   
  }

.bottom {
    margin-top: 0em;
}
.logo {
    height:50px;
    width:50px;
    margin: 10px 0px;
    margin-left: auto;
    margin-right: auto;
    --border-radius:100%;
}