<ion-content fullscreen>
  <ion-list>
    <!-- <ion-list-header>Recordings</ion-list-header> -->
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://f0.pngfuel.com/png/168/671/music-player-logo-png-clip-art-thumbnail.png">
      </ion-thumbnail>
      <ion-label>
        <h3>Record one </h3>
        <p>Sample Record</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://f0.pngfuel.com/png/168/671/music-player-logo-png-clip-art-thumbnail.png">
      </ion-thumbnail>
      <ion-label>
        <h3>Record two</h3>
        <p>Sample Record</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://f0.pngfuel.com/png/168/671/music-player-logo-png-clip-art-thumbnail.png">
      </ion-thumbnail>
      <ion-label>
        <h3>Record three </h3>
        <p>Sample Record</p>
      </ion-label>
    </ion-item>
      </ion-list>
      </ion-content>