<ion-header>
  <ion-toolbar color="primary" hideBackButton="true">
  <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="goBack()" ></ion-icon>
  </ion-buttons>
<ion-title> Following </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of tasks, let i= index"   lines="full">
     <ion-icon name="person" slot="start"></ion-icon>
      <ion-label> {{item.name}}</ion-label>
     
      <!-- <ion-button color="primary" >
       Follow back
      </ion-button> -->

      <ion-button color="danger" (click)="remove(item.id)">
        Unfollow
      </ion-button>
     
      

    </ion-item>
  </ion-list>
</ion-content>
